
<form method="post" action="/figures">
  <p>Name: <input type="text" name="figure[name]"></p>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>">
  <% end %>
  
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= title.id %>">
  <% end %>
  
</form>